body {
  font-family: Roboto, sans-serif;
}

h1 {
  text-align: center;
}

.search-form {
  margin-top: 40px;
  text-align: center;
}

ul {
  list-style: none;
}

.gallery{
  display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.gallery__item {
  display: inline-block;
  margin-bottom: 50px;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

input {
  display: block;
  width: 300px;
  margin: 0 auto;
  height: 30px;
  padding: 5px;
  border: mediumaquamarine 2px solid;
  border-radius: 3px;
}

label {
  display: block;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

#btn {
  display: flex;
  margin: 0 auto;
  padding: 5px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  color: white;
  background-color: mediumaquamarine;
  border-radius: 3px;
  border: mediumaquamarine 1px solid;
  transition: all ease-in 250ms;
}

#btn:hover,
#btn:focus {
  background-color: white;
  color: mediumaquamarine;
}
