body {
  font-family: Roboto, sans-serif;
  
}

h1 {
  text-align: center;
}

.search-form {
  margin-top: 40px;
  text-align: center;
}

img {
  display: block;
}

.photo-card {
  overflow: hidden;
  border: 1px solid white;
  border-radius: 3px;
  transition: all ease-in 250ms;
}

.photo-card:hover,
.photo-card:focus {
  box-shadow: 0.3em 0.3em 1em mediumaquamarine;
}

ul {
  list-style: none;
  margin-bottom: 0;
  padding: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

.gallery__item {
  display: inline-block;
  margin-bottom: 50px;
}

i {
  width: 24px;
  margin-right: 3px;
}

.stats {
  display: flex;
  justify-content: space-between;
}

input {
  display: block;
  width: 300px;
  margin: 0 auto;
  height: 30px;
  padding: 5px;
  border: mediumaquamarine 2px solid;
  border-radius: 3px;
  transition: all ease-in 250ms;
}

a {
  color: mediumaquamarine;
  text-decoration: none;
}

input:hover {
  border-color: black;
}

label {
  display: block;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 10px;
}

.btn__container {
  margin-top: 15px;
  margin-bottom: 5px;
}

#btn {
  display: flex;
  margin: 0 auto;
  padding: 5px;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: mediumaquamarine;
  border-radius: 3px;
  border: mediumaquamarine 1px solid;
  transition: all ease-in 250ms;
  margin-bottom: 20px;
}

#btn:hover,
#btn:focus {
  background-color: white;
  color: mediumaquamarine;
}
